// simple nojs slider


.slider {
   position: relative;

   width: 700px;
   margin: 40px auto;

   box-shadow: 0 2px 4px 0 rgba(0,0,0,.08), 0 7px 22px 0 rgba(0,0,0,.12);

   font-size: 700px;
   

   @include custom_size(font-size, 520px, 850px);
   @include custom_size(width, 520px, 850px);
   @include md(font-size, 420px);
   @include md(width, 420px);
   
   @include custom_size(font-size, 280px, 500px);
   @include custom_size(width, 280px, 500px);

   .slider-inner {
      overflow: hidden;
   }

   .slides {
      width: 300%;

      transition: all .5s;
   }

   .slides img {
      float: left;

      width: 1em;
      height: .5385714285714286em;

      border-radius: 4px;
   }

   .switch {
      position: absolute;
      bottom: 10px;
      left: 0;

      display: flex;

      width: 100%;
      margin-bottom: -50px;

      text-align: center;

      align-items: center;
      @include custom_size(bottom, 20px, 850px);
      @include custom_size(justify-content, center, 850px);
      justify-content: flex-end;
      label {
         display: inline-block;

         width: 8px;
         height: 8px;

         cursor: pointer;

         border: 4px solid $light-black;
         border-radius: 50%;
         background-color: $link-blue;
         box-shadow: 0 0 0 1px $light-black;
      }

      label:hover {
         background: $white;
      }
   }
}

.first-slider {
   #btn1:checked ~ .switch label[for="btn1"],
   #btn2:checked ~ .switch label[for="btn2"],
   #btn3:checked ~ .switch label[for="btn3"] {
      margin: 4px;

      border: none;
      background-color: $light-black;
      box-shadow: 0 0 0 1px $link-blue;
   }
   #btn2:checked ~ .slider-inner .slides {
      transform: translate(-1em);
   }

   #btn3:checked ~ .slider-inner .slides {
      transform: translate(-2em);
   }
   input {
      display: none;
   }
}

.second-slider {
   #btn4:checked ~ .switch label[for="btn4"],
   #btn5:checked ~ .switch label[for="btn5"],
   #btn6:checked ~ .switch label[for="btn6"] {
      margin: 4px;

      border: none;
      background-color: $light-black;
      box-shadow: 0 0 0 1px $link-blue;
   }
   #btn5:checked ~ .slider-inner .slides {
      transform: translate(-1em);
   }

   #btn6:checked ~ .slider-inner .slides {
      transform: translate(-2em);
   }
   input {
      display: none;
   }
}

.third-slider {
   #btn7:checked ~ .switch label[for="btn7"],
   #btn8:checked ~ .switch label[for="btn8"],
   #btn9:checked ~ .switch label[for="btn9"] {
      margin: 4px;

      border: none;
      background-color: $light-black;
      box-shadow: 0 0 0 1px $link-blue;
   }
   #btn8:checked ~ .slider-inner .slides {
      transform: translate(-1em);
   }

   #btn9:checked ~ .slider-inner .slides {
      transform: translate(-2em);
   }
   input {
      display: none;
   }
}
