@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
$white: #FFF;
$grey: #EFF1F2;
$light-black: #25282A;
$black: #000;
$button-color: #0059D9;
$button-click-color: rgba(#0059D9, .7);
$link-blue: #71ABFF;
$twitter-blue: #51ADEF;
$facebook-blue: #395A99;
$telegram-blue: #2CA5E0;
@import "mobile.scss";
@import "slider.scss";

html {
   color: $black;

   font-family: "PT Mono";

   @include fontSize(14px, 20px, lg);
}

.h1 {
   margin: 36px 0 0 0;

   font-family: "Montserrat";

   @include fontSize(40px, 44px, lg);
   @include fontSize(32px, 36px, md);
}

.h2 {
   margin: 0 auto 16px auto;

   font-family: "Montserrat";

   @include fontSize(32px, 36px, lg);
}

.h3 {
   margin: 0;

   font-family: "Montserrat";

   @include fontSize(18px, 24px, lg);
}

.p {
   margin: 8px 0 0 0;
}

.a {
   transition: color .2s ease-in-out;
   text-decoration: none;

   color: $link-blue;
}

.a:hover {
   color: $white;
}

.a:active {
   opacity: .7;
   color: $link-blue;
}

.hr {
   height: 1px;
   margin: 0;

   border: 0;
   background: #D2D9E2;
}

.button {
   width: 100%;
   height: 52px;
   margin: 20px auto 0 auto;

   cursor: pointer;
   transition: background-color .1s ease-in-out;

   color: $white;
   border: none;
   border-radius: 4px;
   outline: none;
   background: $button-color;

   font-family: "Montserrat";
   font-size: 18px;
   line-height: 52px;
}

.button:hover {
   background-color: $black;
}

.button:active {
   background-color: $button-click-color;
}

.button::selection {
   background: transparent;
}

.content {
   max-width: 700px;
   margin: 0 auto;
   padding: 100px 150px;

   @include md(padding, 52px 60px);
   @include custom_size(padding, 52px 40px, 400px);
   @include xs(padding, 52px 20px);
}

.header {
   display: flex;

   box-sizing: border-box;
   min-height: 100vh;

   text-align: center;

   background: $grey;

   align-items: center;
   .content {
      padding-top: 0;
      padding-bottom: 0;
   }

   &__image {
      width: 340px;
      height: 340px;

      border-radius: 50%;

      @include md(width, 250px);
      @include md(height, 250px);
      @include xs(width, 205px);
      @include xs(height, 205px);
   }
   &__button {
      max-width: 280px;
   }
}

.expectations {
   .expectations__list {
      height: 310px;
   }
   .list {
      &__item {
         transition: color .3s ease-in-out, margin-bottom .3s ease-in-out;

         color: transparent;
         outline: 0;
         &:focus {
            position: relative;

            margin-bottom: 150px;

            cursor: pointer;

            color: $black;

            @include md(margin-bottom, 90px);
         }
         .list__text {
            position: absolute;
            top: -100%;
         }
         &:focus .list__text {
            position: relative;
            top: 130px;

            cursor: auto;

            @include md(top, 50px);
         }
         .list__header {
            display: flex;

            height: 52px;

            cursor: pointer;
            transition: color .2s ease-in-out;

            color: $button-color;

            align-items: center;
            justify-content: space-between;
         }
         .list__header:hover {
            color: $black;
         }
         &:focus .list__header:active {
            opacity: .7;
            color: $button-color;
         }
         &:focus .list__header {
            margin-bottom: -19%;

            transition: margin-bottom .2s ease-in-out;

            color: $black;

            .header__close {
               transform: rotate(45deg);
            }
         }
         .header__close {
            transition: transform .3s ease-in-out;
         }
      }
   }
}

.works {
   text-align: center;

   color: $white;
   background: $light-black;
   .content {
      //use custom content size to make slider good looking
      @include custom_size(padding, 52px 40px, 1000px);
      @include custom_size(padding, 52px 20px, 400px);
   }
   &__header {
      margin: 0;
   }

   &__header-text {
      opacity: .7;
   }
   &__example {
      margin: 80px auto 0 auto;

      @include custom_size(max-width, 520px, 850px);
      @include md(max-width, 280px);
   }
   .example {
      &__description {
         position: relative;
         top: -16px;

         max-width: 520px;
         margin: 0;

         text-align: left;

         font-family: "PT Sans";

         @include custom_size(top, 0, 850px);
      }
   }
}

.contacts {
   text-align: center;

   background: $grey;
   .form {
      &__message,
      &__name,
      &__email {
         width: calc(100% - 15px);
         padding-left: 12px;

         border: 1px solid rgba(31,64,111,.20);
         border-radius: 4px;
      }
      &__name,
      &__email {
         height: 36px;
      }
      &__info {
         display: flex;
      }
      &__email {
         margin-left: 20px;
      }
      &__message {
         height: 136px;
         margin: 20px 0 0 0;

         resize: none;
      }
      &__file {
         position: relative;

         overflow: hidden;
         input[type="file"] {
            position: absolute;
            top: 0;
            right: 0;

            width: 100%;
            height: 36px;

            cursor: pointer;

            opacity: 0;
            color: transparent;
         }
         .file-button {
            width: 100%;
            height: 36px;
            margin: 16px auto 0 auto;

            color: $button-color;
            border: 1px solid rgba(31,64,111,.20);
            border-radius: 4px;
            background: transparent;
         }
      }
   }
   .social {
      display: flex;

      justify-content: center;
      a:not(:first-child) {
         margin-left: 16px;
      }
      &__item {
         display: block;
         display: flex;

         width: 48px;
         height: 48px;

         color: $white;
         border-radius: 50%;
         background: $twitter-blue;

         font-size: 1.5em;

         align-items: center;
         justify-content: center;
      }
      .facebook {
         background: $facebook-blue;
      }
      .telegram {
         background: $telegram-blue;
      }
   }
}


